[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1"
djangorestframework = "3.13.1"
psycopg2-binary = "2.9.3"
pillow = "*"
markdown = "*"
django-filter = "*"
django-otp = "==1.1.3"
django-mptt = "==0.13"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-admin-volt = "*"
pyyaml = "*"
uritemplate = "*"
django-rest-knox = "==4.2.0"
phonenumbers = "*"
django-cors-headers = "*"
pip = "*"
django-post-office = "==3.6.1"
pyisemail = "*"
django-upload-validator = "*"
django-sms = {extras = ["twilio"], version = "*"}
celery = "*"
redis = "*"
django-celery-results = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
